@model PATHHEALTHY.Models.Contacto;

@{
    ViewData["Title"] = "Coméntanos";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4"></h1>

    <form asp-controller="Contacto" asp-action="Create">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control"/>

        <label asp-for="Correo" class="control-label"></label>
        <input asp-for="Correo" class="form-control"/>

        <label asp-for="Teléfono" class="control-label"></label>
        <input asp-for="Teléfono" class="form-control"/>

        <label asp-for="Comentario" class="control-label"></label>
        <textarea asp-for="Comentario" class="form-control" cols="30" rows="10"></textarea>

        <h1></h1>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
    <h1>@ViewData["Message"]</h1>
</div>